<!DOCTYPE html><!--  This site was created in Webflow. http://www.webflow.com  -->
<!--  Last Published: Tue Dec 29 2020 01:04:46 GMT+0000 (Coordinated Universal Time)  -->
{% extends 'base.html'%}
{% load static %}
<html data-wf-page="5fe1723c6b541d46472e87dd" data-wf-site="5fdf5b16ab6df35ee79b9f8e">

<body>
{% block content%}
  <div class="elements-section-headline-wrap notice">
    <div id="Hero" class="section detail">
      <div class="w-layout-grid grid">
        <div id="w-node-391edaf00c22-472e87dd" class="elements-headline-wrap">
          <div class="sizejumbo-text">전공 튜터링<br></div>
          <p class="detail_page">전자 및 정보공학과<br>전공 튜터링 페이지입니다.<br></p>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="w-layout-grid blog1-grid">
      <div id="w-node-11da51d85b8a-472e87dd" class="blog1-headline-wrap detail_page">
        <div class="size3-text">All Posts<br></div>
      </div>
      <div id="w-node-7441637cf85e-472e87dd" class="detail_page detail_component">
        <a href="#" class="size4-link">프로그램 신청 관련</a>
        <div class="date_detail">
          <div class="text-label big">게시일 :</div>
          <div class="text-label date">2020/12/10</div>
          <div class="nav-kit-divider"></div>
          <div class="text-label big">신청마감일 :</div>
          <div class="text-label date">2020/12/31</div>
        </div>
        <div class="paragraph-70">------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>--------------------------------------------------------------------------(내용 요약)------------------------------------------------------------------------------</div>
        <div class="blog1-button-wrap">
          <a data-w-id="e3f22483-798b-3788-463d-7441637cf86a" href="#" class="button-small register w-inline-block">
            <div class="button-label">Read more</div><img src="images/Arrow2x.svg" alt="" class="button-arrow">
          </a>
        </div>
      </div>
      <div class="detail_page detail_component">
        <a href="#" class="size4-link">각종 서류 제출 관련 공지</a>
        <div class="date_detail">
          <div class="text-label big">게시일 :</div>
          <div class="text-label date">2020/12/10</div>
          <div class="nav-kit-divider"></div>
          <div class="text-label big">신청마감일 :</div>
          <div class="text-label date">2020/12/31</div>
        </div>
        <div class="paragraph-70">------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>--------------------------------------------------------------------------(내용 요약)------------------------------------------------------------------------------</div>
        <div class="blog1-button-wrap">
          <a data-w-id="12c9b3df-5f7a-b163-4e06-f872037b80f1" href="#" class="button-small submit w-inline-block">
            <div class="button-label">Read more</div><img src="images/Arrow2x.svg" alt="" class="button-arrow">
          </a>
        </div>
      </div>
      <div class="detail_page detail_component">
        <a href="#" class="size4-link">기타 공지사항</a>
        <div class="date_detail">
          <div class="text-label big">게시일 :</div>
          <div class="text-label date">2020/12/10</div>
          <div class="nav-kit-divider"></div>
          <div class="text-label big">신청마감일 :</div>
          <div class="text-label date">2020/12/31</div>
        </div>
        <div class="paragraph-70">------------------------------------------------------------------------------------------------------------------------------------------------------------------<br>--------------------------------------------------------------------------(내용 요약)------------------------------------------------------------------------------</div>
        <div class="blog1-button-wrap">
          <a data-w-id="f9ef15d0-6893-c5ae-03fd-813eda5bbe5d" href="#" class="button-small etc w-inline-block">
            <div class="button-label">Read more</div><img src="images/Arrow2x.svg" alt="" class="button-arrow">
          </a>
        </div>
      </div>
    </div>
  </div>
  {% include 'footer.html'%}
</body>
{% endblock %}
</html>