<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
    <a class="navbar-brand" href="{% url 'main' %}">비교과 홈페이지</a>
    <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse flex-grow-0" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item ">
              {% if user.is_authenticated %}
              <h5>{{ user.username }}</h5>
                <a class="nav-link" href="{% url 'login_app:logout' %}">로그아웃</a>
              {% else %}
                <a class="nav-link" href="{% url 'login_app:login' %}">로그인</a>
              {% endif %}
            </li>
        </ul>
    </div>
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            전체비교과 
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="{% url 'dsum' %}">D-SUM</a>
          <a class="dropdown-item" href="{% url 'contest' %}">공모전</a>
          <a class="dropdown-item" href="{% url 'tutoring' %}">전공튜터링</a>
          <a class="dropdown-item" href="{% url 'QnA_main' %}">1000제 문제 QnA</a>
        </div>
    </div>
</nav>