<!-- Sidebar  -->

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

<nav id="sidebar" class="border-top border-secondary">
    <div class="list-group">
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">EIEN220</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">EIEN221</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">EIEN222</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">EIEN223</a>
        <a class="rounded-0 list-group-item list-group-item-action list-group-item-light " href="">EIEN224</a>
    </div>
</nav>
</link>